.apply-loan {
    padding: 138px 0;
    margin: 176px 0 150px;
    background-image: url('https://via.placeholder.com/1349x379');

    &__text {

        @extend %flex;
        @extend %justifySpaceBetween;
        position: relative;

        p{
            width: 68%;
            color: $BASEFONTCOLOR;
            font-size: 42px;
            line-height: 1.3;
        }
    }

    &__apply-now-btn {
        width: 12.3%;
        padding: 17px 0 16px;
        position: absolute;
        right: 0;
        top: 26px;
        border-radius: 5px;
        background-color: $PRIMERYCOLOR;
        color: $BASEFONTCOLOR;
        font-size: 14px;
        text-align: center;
        text-transform: capitalize;
    }
}