.header{
    position: absolute;
    width: 100%;
    top: 0;

    .wrapper{ 
        width: 100%;
        @extend %flex;
        font-size: 13px;
    }

    h1{ margin: 20px 0 0 2.5%; }

    &__nav{ 
        margin: 36px 0 0 19.6%;
        width: 50%; 
        @include translate( 2.2%, 0);
    }

    &__nav-list{
        @extend %flex;

        li{
            margin: 0 4.7% 0 0;

            a{
                color: $BASEFONTCOLOR;
            }
        }
    }

    &__sub-menu{
        a::after{
            content: "\f107";
            font-family: "FontAwesome";
        }
    }

    &__sub-menu-list{
        display: none;
    }

    &__connect{
        width: 24%;
        position: relative;
        top: 0;
        right: 0;
        @extend %flex;
    }

    &__contact-no{
        margin: 38px 0 0 0;
        font-size: 12px;
        width: 48%;
        color: $PRIMERYCOLOR;

        a{ 
            color: $BASEFONTCOLOR; 
            letter-spacing: 0.3px;
        }

        &::before{
            content: "\f095";
            font-family: "FontAwesome";
            font-size: 13px;
            padding: 0 3.5% 0 2%;
        }
    }

    &__apply-loan-btn{
        text-transform: capitalize;
        width: 52%;

        a{
            color: $PRIMERYCOLOR;
            border: 1px solid $PRIMERYCOLOR;
            margin: 21px 0 0 0;
            padding: 13px 5% 14px;
            border-radius: 5px;
            @include translate(-11%, 0);
        }
    }
}
