.testimonial {
    .wrapper { 
        @extend %flex;
        @extend %justifySpaceBetween;
    }

    &__slider { 
        width: 89%;
        margin: 150px 0;
    }

    &__slide{
        display: none;

        &--active{
            @extend %flex;
            @extend %justifySpaceBetween;
    
            img { border-radius: 50%;}
    
            div { 
                width: 70%;
                margin-top: 50px;
                font-size: 17.5px;
                line-height: 1.7;
            }
    
            span {
                margin-top: 15px;
                display: block;
                color: #838b93;
                font-size: 16px;
                text-transform: capitalize;
            }
        }
    }

    &__slider-controls {
        //@include flex(column,null,null,center);
        width: 4.5%;
        margin-top: 200px;

        li {
            width: 100%;
            padding: 12px 0;
            border-radius: 50%;
            margin: 5px 0;
            background-color: #e6f3ff;
            text-align: center;
        }

        a{
            color: #52aeff;
            text-indent: -9999px;
        }

        li:first-child a::before { @include set-icon('\f105',24px)}
        li:last-child a::before { @include set-icon('\f104',24px)}
    }

}