/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */
input[type=radio] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}

sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */
.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 81.32%;
  margin: 0 auto;
}

.testimonial__slide--active, .testimonial .wrapper, .frequently-ask .wrapper, .works ul, .choose-us .wrapper, .offers__plans, .banner .wrapper, .header__connect, .header__nav-list, .header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.testimonial__slide--active, .testimonial .wrapper, .frequently-ask .wrapper, .works ul, .choose-us .wrapper, .offers__plans {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
}
.header .wrapper {
  width: 100%;
  font-size: 13px;
}
.header h1 {
  margin: 20px 0 0 2.5%;
}
.header__nav {
  margin: 36px 0 0 19.6%;
  width: 50%;
  -webkit-transform: translate(2.2%, 0);
  -ms-transform: translate(2.2%, 0);
  transform: translate(2.2%, 0);
}
.header__nav-list li {
  margin: 0 4.7% 0 0;
}
.header__nav-list li a {
  color: #ffffff;
}
.header__sub-menu a::after {
  content: "\f107";
  font-family: "FontAwesome";
}
.header__sub-menu-list {
  display: none;
}
.header__connect {
  width: 24%;
  position: relative;
  top: 0;
  right: 0;
}
.header__contact-no {
  margin: 38px 0 0 0;
  font-size: 12px;
  width: 48%;
  color: #33d4d6;
}
.header__contact-no a {
  color: #ffffff;
  letter-spacing: 0.3px;
}
.header__contact-no::before {
  content: "\f095";
  font-family: "FontAwesome";
  font-size: 13px;
  padding: 0 3.5% 0 2%;
}
.header__apply-loan-btn {
  text-transform: capitalize;
  width: 52%;
}
.header__apply-loan-btn a {
  color: #33d4d6;
  border: 1px solid #33d4d6;
  margin: 21px 0 0 0;
  padding: 13px 5% 14px;
  border-radius: 5px;
  -webkit-transform: translate(-11%, 0);
  -ms-transform: translate(-11%, 0);
  transform: translate(-11%, 0);
}

/*=================================
  main styling starts here for index
=================================*/
/* banner section starts */
.banner {
  background-image: url("https://via.placeholder.com/1349x888");
}
.banner .wrapper {
  background-color: #05468150;
  width: 81.32%;
  padding: 200px 9.34% 200px;
}
.banner__details {
  width: 50%;
}
.banner__works-btn {
  background: #33d4d6;
  border-radius: 5px;
  text-transform: capitalize;
  color: #ffffff;
  padding: 15px 5.3% 16px;
  margin: 38px 0;
}
.banner h2 {
  margin: 86px 0 0 0;
  color: #ffffff;
  font-size: 58.5px;
  line-height: 75px;
}
.banner__quick-loan {
  width: 40%;
  padding: 50px 0%;
  margin: 0 0 0 10%;
  border-radius: 5px;
  background-color: #ffffff;
  text-align: center;
}
.banner__quick-loan h3 {
  font-size: 30px;
}
.banner__quick-loan p {
  margin: 27px 0 30px;
  color: #999999;
  font-size: 16px;
}
.banner__form {
  margin: 0 11%;
  text-align: left;
}
.banner__form .form-group {
  position: relative;
}
.banner__form .form-group:first-child:after, .banner__form .form-group:nth-child(2):after {
  content: "\f0d7";
  position: absolute;
  top: 30px;
  right: 5%;
  color: #999999;
  font-family: "fontAwesome";
  pointer-events: none;
}
.banner__form p {
  margin: 40px 0% 42px;
}
.banner__form select {
  width: 100%;
  padding: 16px 5%;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  color: #999999;
  margin-top: 15px;
  outline: none;
  text-transform: capitalize;
  appearance: none;
}
.banner__error {
  width: auto;
  padding: 2px 0;
  display: block;
  z-index: 10;
  position: absolute;
  background-color: #ff4949;
  color: #ffffff;
  font-size: 12px;
  opacity: 0;
}
.banner__input {
  width: 100%;
  padding: 16px 0;
  border: none;
  border-radius: 5px;
  margin-right: 1%;
  background-color: #33d4d6;
  color: #ffffff;
  font-size: 16px;
  text-transform: capitalize;
}

/* banner section ends */
/* offers section starts */
.offers {
  padding: 156px 0 100px;
  text-align: center;
}
.offers__heading h2, .works__heading h2 {
  position: relative;
  font-size: 45px;
  padding: 16px 0 20px;
}
.offers__heading h2::before, .works__heading h2::before {
  content: "";
  width: 6%;
  padding: 2px 0 1px;
  position: absolute;
  left: 47%;
  top: 0;
  background-color: #33d4d6;
  text-align: center;
}
.offers__heading p, .works__heading p {
  color: #999999;
  font-size: 16px;
  font-weight: 600;
}
.offers__plans {
  margin: 91px 0 47px;
}
.offers__plans__plan {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#098afd), to(#054681));
  background-image: -o-linear-gradient(#098afd, #054681);
  background-image: linear-gradient(#098afd, #054681);
  width: 31.5%;
  padding: 40px 0;
  border-radius: 5px;
}
.offers__plans__plan li {
  display: block;
}
.offers__plans__plan img {
  padding: 4px 0;
  width: 70px;
}
.offers__plans__plan > ul > li:nth-child(2) {
  margin: 35px 0 20px;
  font-size: 15px;
  color: #d8d8d8;
  text-transform: capitalize;
}
.offers__plans__plan > ul > li:nth-child(3) {
  color: #33d4d6;
  font-size: 28px;
}
.offers__plans__plan a {
  padding: 15px 25%;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #33d4d6;
  color: #ffffff;
  text-transform: capitalize;
}
.offers__plans .feature {
  padding: 35px 10% 3px;
  border-top: 1px solid #267dcb;
  margin: 35px 0;
}
.offers__plans .feature li {
  padding: 7px 5%;
  color: #e1e4ef;
  text-align: left;
}
.offers__plans .feature li:first-child {
  padding-top: 1px;
}
.offers__plans .feature li::before {
  content: "\f111";
  margin-right: 3%;
  position: relative;
  bottom: 3px;
  color: #33d4d6;
  font-size: 10px;
  font-family: "fontAwesome";
}

/* offers section ends */
/* choose-us section starts */
.choose-us__why {
  width: 45.7%;
}
.choose-us__why > li {
  margin-left: 7%;
}
.choose-us__why > li:nth-child(3) {
  width: 100%;
}
.choose-us__why ul li {
  margin: 12px 0;
  display: block;
}
.choose-us__why ul li:first-child {
  margin-top: 0;
}
.choose-us__why ul li::before {
  content: "\f111";
  font-family: "fontAwesome";
  font-size: 10px;
  text-indent: 0;
  margin-right: 3%;
  position: relative;
  bottom: 2px;
  color: #0d8eff;
}
.choose-us h2 {
  margin-top: 85px;
  font-size: 43px;
  text-transform: capitalize;
}
.choose-us p {
  margin: 37px 0 20px;
  color: #999999;
  line-height: 1.8;
}
.choose-us a {
  width: 100%;
  padding: 15px 44% 16px;
  border-radius: 5px;
  margin: 45px 0 0;
  background-color: #33d4d6;
  color: #ffffff;
  text-transform: capitalize;
}

/* choose-us section ends */
/* works section starts */
.works {
  padding: 158px 0;
  margin-top: 124px;
  background-color: #f5fbff;
  text-align: center;
}
.works ul {
  margin: 92px 0 0;
}
.works li {
  width: 31%;
  text-align: left;
}
.works span {
  width: 20%;
  padding: 25px 0;
  border-radius: 50px;
  display: block;
  background-color: #ddf0ff;
  color: #2c95ff;
  text-align: center;
  font-weight: 600;
}
.works h3 {
  margin: 20px 0 16px;
  font-size: 25px;
}
.works li p {
  width: 90%;
  color: #999999;
  line-height: 1.6;
}

/* works section ends */
/* frequently-ask section starts */
.frequently-ask .wrapper {
  width: 100%;
}
.frequently-ask figure {
  width: 53%;
}
.frequently-ask img {
  width: 100%;
}
.frequently-ask__ask {
  width: 40%;
  padding: 0 6% 0 5.5%;
}
.frequently-ask__ask h2 {
  margin: 127px 0 50px;
  font-size: 43px;
}
.frequently-ask__ask li {
  display: block;
  overflow: hidden;
}
.frequently-ask__ask li p {
  max-height: 0;
}
.frequently-ask__ask h3 {
  padding: 23px 0 13px;
  border-bottom: 1px solid #dbdbdb;
  font-size: 18px;
}
.frequently-ask__ask h3::before {
  content: "\f107";
  font-family: "fontAwesome";
  font-size: 20px;
  text-indent: 0;
  padding: 0 4% 0 2%;
}
.frequently-ask__ask h3 p {
  width: 80%;
}
.frequently-ask__ask__show h3 {
  border: 0;
  -webkit-transform: translate(0, -10px);
  -ms-transform: translate(0, -10px);
  transform: translate(0, -10px);
}
.frequently-ask__ask__show h3::before {
  content: "\f106";
  font-family: "fontAwesome";
  font-size: 20px;
  text-indent: 0;
}
.frequently-ask__ask__show p {
  width: 80%;
  padding: 2px 6% 36px;
  border-bottom: 1px solid #dbdbdb;
  color: #798299;
  font-size: 15px;
  line-height: 1.8;
  min-height: 50px;
}

/* frequently-ask section ends */
/* testimonial section starts */
.testimonial__slider {
  width: 89%;
  margin: 150px 0;
}
.testimonial__slide {
  display: none;
}
.testimonial__slide--active img {
  border-radius: 50%;
}
.testimonial__slide--active div {
  width: 70%;
  margin-top: 50px;
  font-size: 17.5px;
  line-height: 1.7;
}
.testimonial__slide--active span {
  margin-top: 15px;
  display: block;
  color: #838b93;
  font-size: 16px;
  text-transform: capitalize;
}
.testimonial__slider-controls {
  width: 4.5%;
  margin-top: 200px;
}
.testimonial__slider-controls li {
  width: 100%;
  padding: 12px 0;
  border-radius: 50%;
  margin: 5px 0;
  background-color: #e6f3ff;
  text-align: center;
}
.testimonial__slider-controls a {
  color: #52aeff;
  text-indent: -9999px;
}
.testimonial__slider-controls li:first-child a::before {
  content: "\f105";
  float: right;
  font-family: "fontAwesome";
  font-size: 24px;
  text-indent: 0;
}
.testimonial__slider-controls li:last-child a::before {
  content: "\f104";
  float: right;
  font-family: "fontAwesome";
  font-size: 24px;
  text-indent: 0;
}

/* testimonial section ends */